* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden
  }

  .footer{
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
  }

  .content-container {
    min-height: calc(100vh - 60px);
  }

  .ProjectContainer {    
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
    list-style: none;
    justify-content: space-evenly;
  }

  .ProjectContainer li {
    margin-top: 3%;
    display: inline;
  }

  .card-img-thing{
    margin-bottom: 5%;
    object-fit: contain;
    width: 32rem;
    height: 16rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .annotationLayer {
    display: none;
  }